In [1]:
import torch
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/supplementary_table.csv')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,794,795,796,797,798,799,800,801,802,Label
0,37.880653,1.863252,0.114914,22.260527,1.124518,0.000000,0.082082,0.221620,0.525322,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,44.167642,0.222928,0.027866,10.644820,0.089171,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,41.383285,1.051873,4.243516,14.229107,0.554755,0.028818,0.000000,0.079251,0.374640,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,22.709763,1.552907,0.114361,14.909113,0.788492,0.000000,0.000000,0.288913,0.355122,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,21.445466,3.845817,3.434078,13.578625,2.312746,0.000000,0.078844,0.280333,1.051248,0.070083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1